<div class="flex justify-between items-center">
    <div class="py-4 ml-4">
        <a target="_blank" href="https://rs.school/js/">
            <img src="../../../assets/img/footer-icon-rsschool.svg" alt="RS School logo" class="footer-link">
        </a>
    </div>
    <div class="py-4 text-slate-200 hover:text-amber-500">
        <a target="_blank" href="https://github.com/dafen173">Alexandr Nikandrov</a>
    </div>
    <div class="py-4 mr-4 text-slate-200">
        <p>2023</p>
    </div>
</div>




